@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
	@tailwind base;
}

@layer tailwind-utilities {
	@tailwind components;
	@tailwind utilities;
}

@layer base {
	* {
		@apply m-0 box-border p-0;
	}

	h1 {
		@apply text-3xl font-semibold;
	}

	h2 {
		@apply text-2xl font-semibold;
	}

	input {
		border: none;
		outline: none;
	}
}

html {
	@apply textGray;
}

html.dark {
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.textGray {
	@apply text-gray-600;
	@apply dark:text-gray-400;
}
